body{
  font-family: sans-serif;
  background-color: rgba(243, 237, 237, 0.795);
}

#main-div {
  width: 500px;
  height: auto;
  margin: auto;
}

#align-link {
  text-align: right;
}

#back,
#blog-page {
  text-decoration-line: none;
  color: #333;
}
