body{
  font-family: sans-serif;
  background-color: rgba(243, 237, 237, 0.795);
  color: #333;
  font-size: 14px;
}

h1,h4{
  margin-bottom: 7;
  margin-top: 25;
  
}


table {
  font-size: 14px;
}


td {
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

.first-tr {
  height: 50px;
  font-weight: bolder;
  background-color: antiquewhite;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.form-content {
  margin: 100px auto;
}

#main-div {
  margin: auto;
  width: 500px;
  height: auto;
}

#blog-page {
  text-decoration-line: none;
}

#align-link {
  text-align: right;
  padding-top: 15px;
}

#content-box {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  border-color: gray;
  border-width: 2px;
}

#author-input,
#title-input{
  border: 2px solid gray;
}

#createBtn {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-color: gray;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}

.input {
  height: 30px;
  width: 500px;
  border-radius: 10px;
  border-color: gray;
}

ul {
  list-style-type: none;
  padding: 0;
}

#back {
  padding-bottom: 30px;
}
#tag-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

#back,
#blog-page {
  text-decoration-line: none;
  color: #333;
}

#back:hover,
#blog-page:hover {
  color: darkgray;
}

#tag1,#tag2,
#tag3,#tag4,
#tag5 {
margin-bottom: 5px;
accent-color: gray;
}




